<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset = UTF-8' http-equiv="Content-Type"/>
	<title>Correo electronico desde rubi on rails</title>
</head>
<body>
<h1>Correo</h1>
<p>Ejemplo de correo</p>
<p>Este es el parametro que enviamos <%= @user.email %> </p> 
</body>
</html>