<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "validate[required]" %>
  </div>
  <div class="field small-6 columns">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => "validate[required]" %>
  </div>
   <div class="field small-6 columns">
   <% categorias = {
    "Alimentos" => "Alimentos",
    "Deportes" => "Deportes",
    "Espectáculos" => "Espectáculos",
    "Mascotas" => "Mascotas",
    "Sociedad" => "Sociedad", 
    "Tecnologia" => "Tecnologia",
   } %>
    <%= f.label :categoria %><br>
    <%= f.select :categoria, categorias, :class => "validate[required]" %>
  </div>
  <%= f.hidden_field :user_id,{ :value => current_user.id } %>
  <div class="actions">
    <%= f.submit 'Aceptar',:class => 'button small round' %>
  </div>
     
</div>
<% end %>
