<nav class="top-bar" data-topbar role ="navigation">
	 <ul class="title-area">
		 <li class ="name">
		 	<h1>Formularios</h1>
		 </li>

	
	  </ul>
	   <section class="top-bar-section">
	   <ul>
	 <!-- Seccion Izquierda-->
		 <ul class="left">
 			<% if user_signed_in? %>
		 	<li class="has-dropdown not-click"><a href="#">Da click</a>
		 	<ul class="dropdown">
		 		<li class="parent-link show-for-small-only"> <a class="parent-link js-generated" href="#"></a></li>
		 			<li><label>Asesorias</label></li>
		 			<li><%=link_to 'Ver',controller:'/posts',action:'index'%></li>	
		 			<li><%=link_to 'Nuevo',controller:'/posts',action:'new'%></li>
		 	</ul>
		 	</li>
		 	<li class="divider"></li>
		 	<% end %> 
		 </ul>
		  
	 <!-- Seccion Derecha-->
	 <ul class="rigth">
	 	<% if user_signed_in? %>
	 	<li class="active"> <a href="#">Loogeado como <STRONG> <%= current_user.email   %></STRONG></a></li>
	 	<li> <%= link_to 'Edit Profile User', edit_user_registration_path , :class => 'navbar-link'%> </li>
	 	<li> <%= link_to "Logout User ",destroy_user_session_path ,method: :delete,:class => 'navbar-link'%></li>
	 		
	 	<% elsif admin_signed_in? %>
	 		<li class="active"> <a href="#">Loogeado como <STRONG> <%= current_admin.email   %></STRONG></a></li>
	 	<li> <%= link_to 'Edit Profile Admin', edit_admin_registration_path , :class => 'navbar-link'%> </li>
	 	<li> <%= link_to "Logout Admin ",destroy_admin_session_path ,method: :delete,:class => 'navbar-link'%>
	 	</li>
	 		

	 	<% else %>
	 	<li><%= link_to "Sing up",new_user_registration_path  ,:class=> 'navbar-link'%></li>
	 	<li><%= link_to "Login",new_user_session_path ,:class => 'navbar-link' %></li>
	 	<% end %>

	 </ul>
	
	 </section>
 </nav>