<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Body</th>
      <th>Usuario</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <% if post.body %>
        <td>        	
        	<a href="#" data-reveal-id="body-<%=post.id%>">Ver body</a>
        	<div id="body-<%=post.id%>" class="reveal-modal" data-reveal>
        	<%= post.body %>
        	<a class="close-reveal-modal">&#215;</a>
        	</div>	
        </td>
        <% end %>
        <% if admin_signed_in? %>
        
          <td> 
            <div>
          
              <%= User.find(post.user_id).email %>  
              
            </div>
          </td>
        <% end %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%=  link_to 'New Post', new_post_path %>
<% end %>
