
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
</br>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
</br>
<p>
  <strong>Categoria:</strong>
  <%= @post.categoria %>
</p>

<div id="comments">	
	<%= render :partial => @post.comments.reverse %>    
</div>

<%= form_for([@post,Comment.new],remote:true) do |f| %>
<p>
	<%= f.label :body,"Nuevo Comentario" %> <br/>
	<%= f.text_area :body%>
</p> 
<p>
	<%=f.submit "Agregar Comentario", :class => 'button small round' %>
</p>


<% end %>


<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atras', posts_path %>
